<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ubin.stf.mapper.ClazzMapper" >
    <resultMap id="BaseResultMap" type="com.ubin.stf.model.Clazz">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="timeFrom" property="timeFrom" jdbcType="TIME" />
        <result column="timeTo" property="timeTo" jdbcType="TIME" />
        <result column="teamId" property="teamId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, timeFrom, timeTo, teamId
    </sql>

    <select id="getAllClazzList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from clazz where teamId = #{teamId} or teamId = 0
    </select>

    <insert id="insertClazzUnderTeam" >
        insert into clazz set name = #{name} , timeFrom = #{timeFrom}, timeTo = #{timeTo}, teamId = #{teamId}
    </insert>


</mapper>